<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
</head>
<body>
<a href="/home/zweite">
    <img src="/Images/ex3.jpeg">
</a>
<h1 style="color:aquamarine">Erste tolle MVC-Webanwendung...Heureka!!! 👌</h1>
<a href="/home/zweite">hier</a>
<input id="myInput"/>
<p id="output"></p>

<script>
    document.getElementById("myInput").addEventListener("input", function () {
        document.getElementById("output").innerText = this.value;
    });
   </script>
</body>
</html>